/**
  * Hexadecimal color codes
  *
  * #807d6c - Gold
  * #cccccc - Silver
  * #dddddd - Grey
  * #ffffff - White
  * #06162f - A variant of blue
  * #1f2a47 - A variant blue
  * #333043 - A shade of blue
  * #414143 - A shade of black
  * #19223f - Light blue
  * #dc3033 - Light Red
  * #332c1a - A variant of gold
  * #807d6c - A variant of gold
  * #19223f - Blue
  * #dc3033 - Light brown
  */

/**
  * Global styles
  */
* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:focus {
	outline: 3px double #807d6c;
	text-decoration: none;
}

li {
	list-style-type: none;	
}

body {
	font-size: calc(13px + (22 - 16) * (100vw - 320px) / 1200);
	display: flex;
	flex-flow: column;
	height: 100vh;  /*Internet Explorer Fall Back*/
	min-height: 100vh;
}

h2 {
	font-family: "Catamaran-Bold";
    font-weight: 700;
    font-variant: small-caps;
}

strong {
	font-family: "Catamaran-Bold";
}

hr { 
  height: 1px;
  color: #cccccc;
  background-color: #dddddd;
  border: none;
  width: 50%;
  margin: 0 auto;
}

abbr {
	cursor: help;
}
/**
  * Fonts
  */
/* Catamaran Regular */
@font-face {
    font-family: "Catamaran";
    src: url('../fonts/Catamaran/Catamaran-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Catamaran Bold */
@font-face {
    font-family: "Catamaran-Bold";
    src: url('../fonts/Catamaran/Catamaran-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Catamaran Medium */
@font-face {
    font-family: "Catamaran-Medium";
    src: url('../fonts/Catamaran/Catamaran-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Dancing Script bold */
@font-face {
    font-family: "DancingScript";
    src: url('../fonts/Dancing_Script/static/DancingScript-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

#skip a {
	height: 1px;
	left: -10000px;
	position: absolute;
	overflow: hidden;
	top: auto;
	width: 1px;
	padding: 1.2em;
}

#skip a:focus {
	height: auto;
	position: static;
	width: auto;
	background-color: #06162f;
	color: #ffffff;
}

.top {
	background-color: #1f2a47;
	color: #ffffff;
}

.header {
	padding: 1.2em;
}

.header__name {
	margin-bottom: 0.5em;
	font-family: "DancingScript";
	font-weight: 700;
	color: #ffffff;
	text-align: center;
}

.navigation__menu {
	margin-top: 1.2em;
	border: 1px solid #cccccc;
}

.navigation__item:not(:first-child) {
	border-top: 1px solid #ccc;
}

.navigation__link {
	display: block;        /* Setup to make it cliackable */
	padding: 0.8em 1em;    /* Creating the clickable area */
	font-weight: normal;
	font-family: "Catamaran-Medium";
	color: #ffffff;
}

.navigation__link:hover,
.navigation__link.active {
	background-color: #06162f;
	color: #ffffff;
}

@media screen and (min-width: 35em) {
	@supports (display: grid) {
		.navigation__menu {
			display: grid;
			grid-template-areas: "h1 h2" "h3 h4" "h5 h6";
		}

		.navigation__item:nth-child(2) {
			border-top: none;
		}
	}
}

.page-intro__text {
	font-size: 1.2em;
	line-height: 1.618;
	letter-spacing: 0.02em;
	font-family: "Catamaran";
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1.2em;
}

figure {
	width: 60%;
	margin-bottom: 1.5em;
	margin: 1.5em auto
}

figure img {
	max-width: 100%;
}

/**
  * This will select the 3rd image on the home page
  * (the js logo) and reduce its width to 75% because
  * the image is quite big and larger than other images
  * used on the page
  */
figure:nth-child(3) {
	width: 75%;
}

/**
  * From 35em upwards we change the image container
  * display to grid.
  *
  * For browsers that don't support grid the images
  * will display on the vertical axis.
  */
@media screen and (min-width: 35em) {
	.image-container {
		display: grid;
		grid-template-areas: "h1 h2" "h3 h4";
	}

	/**
	  * The js logo is made to span 3 columns therefore
	  * it will be at the center of the grid and the
	  * width reduced to 45%
	  */
	figure:nth-child(3) {
		grid-row: 2;
		grid-column: 1/3;
		width: 45%;
	}
}

/**
  * The hero is hidden on mobile devices
  */
.hero {
	display: none;
}

.hero__container {
	font-family: "Catamaran";
	color: #ffffff;
	width: 50%;
	margin: 0 auto;
	padding: 1.2em;
}

.main {
	display: block;
	padding: 1.5em;
	width: 100%;
	flex: 1 0 auto;
}

/**
  * All links inside the main are given
  * a blue color and an underline text
  * decoration
  */
main a {
	color: #1560bd;
	font-family: "Catamaran-Bold";
	text-decoration: underline;
}

/**
  * When the user mouse over the
  * the links the text is changed to white
  * and a background color of deep blue
  */
main a:hover {
	background-color: #1f2a47;
	color: #ffffff;
	text-decoration: none;
}

/**
  * On larger screens we do the following:
  *
  * 1) Set the display of the .top to flex
  * 2) Remove the border top of the navigation items
  * 3) Show the hero
  * 4) Customise each hero background based on the page
  * 5) We set a backup background color for the hero__container
  *    for browser that don't support linear-gradient
  */
@media screen and (min-width: 55em) {
	.top {
		display: flex;
		justify-content: space-between;
	}

	.navigation__menu {
		display: flex;
		border: none;
		margin-right: 4em;
	}

	.navigation__link {
		margin-right: 20px;
	}

	.navigation__item:not(:first-child) {
		border-top: none;
	}

	.hero {
		display: block;
		padding: 7em 4em;
	}

	.hero.home-page {
		background-image: url("../images/homepage_hero.jpg");
		background-position: 30% 50%;
		background-color: #1a2340;
	}
	.hero.home-page .hero__container {
		background-color: #1a2340;
		background-image: linear-gradient(to right, #1a2340, #06162f);
	}

	.hero.webdesign {
		background-image: url("../images/webdesign_hero.jpg");
		background-position: 30% 50%;
		background-color: #333043;
	}
	.hero.webdesign .hero__container {
		background-color: #333043;
		background-image: linear-gradient(to right, #333043, #414143);
	}

	.hero.contact {
		background-image: url("../images/contact_hero.jpg");
		background-position: 30% 50%;
		background-color: #332c1a;
	}
	.hero.contact .hero__container {
		background-color: #332c1a;
		background-image: linear-gradient(to right, #332c1a, #807d6c);
	}

	.hero.blog {
		background-image: url("../images/blog_hero.jpg");
		background-position: 30% 50%;
		background-color: #1f2a47;
	}
	.hero.blog .hero__container {
		background-color: #1f2a47;
		background-image: linear-gradient(to right, #1f2a47, #4f3e37);
	}

	.hero.graphics {
		background-image: url("../images/graphics_hero.jpg");
		background-color: #19223f;
		background-position: 30% 50%;
	}
	.hero.graphics .hero__container {
		background-color: #19223f;
		background-image: linear-gradient(to right, #19223f, #dc3033);
	}

	.hero__text {
		text-align: center;
	}

	.main {
		width: 60%;
		margin: 0 auto;
	}
}

.media-card {
	background-color: #fff;
	border: 1px solid hsl(0, 0%, 85%);
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	overflow: hidden;
	max-width: 18.75em;
	margin: 2em auto;
}

@media screen and (min-width: 35em) {
	.media-card {
		width: 40%;
		float: left;
		margin-right: 2em;
	}
}

.media-card__image {
	display: block;
	width: 100%;
	height: auto;
}

.media-card__content {
	padding: 1rem;
}

.media-card__title {
	font-size: 1.25rem;
	color: rgba(0,0,0,0.8);
}

.media-card__body {
	font-size: 1rem;
	color: rgba(0,0,0,0.75);
	line-height: 1.5;
	font-family: "Catamaran-Medium";
}

.post {
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	font-family: "Catamaran";
    font-weight: 400;
}

.post__meta {
	margin-bottom: 1.2em;
}

.post__title {
	font-family: "Catamaran-Bold";
}

.post__entry {
    font-style: normal;
	font-size: 1.2em;
	letter-spacing: 0.02em;
}

.post__link-continue {
	display: block;    /* Setup to make it cliackable */
	padding: 0.6em;    /* Creating the clickable area */
	color: #ffffff;
	background-color: #06162f;
	margin-top: 0.8em;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}
.post__link-continue:hover,
.post__link-continue:focus { /* For human interaction */
	text-decoration: underline;
	color: #ffffff;
}

.address {
	line-height: 1.4;
}

.footer {
	background-color: #06162f;
	flex-shrink: 0;
}

.footer__row {
	display: flex;
	justify-content: space-between;
	padding: 1.5em;
}

.hidden-mobile {
	display: none;
}

@media screen and (min-width: 35em) {
	.hidden-mobile {
		display: block;
	}

	.footer__item.hidden-mobile {
		display: inline;
		margin-right: 1.4em;
	}
}

.footer__link {
	font-weight: normal;
	font-family: "Catamaran-Medium";
	padding: 0.5em;
}

.footer__link:hover {
	background-color: #1a2340;
	color: #ffffff;
}

.footer__item.social {
	display: inline;
	margin-right: 1.5em;
	font-size: 1.2em;
}

.footer__inner {
	background-color: #1a2340;
	padding: 0.5em;
}

/**
  * The site name
  */
.footer__column > a {
	font-family: "DancingScript";
	font-weight: 700;
}

/**
  * All links in the footer
  */
.footer a {
	color: #ffffff;
}

.footer__text {
	text-align: center;
	color: #ffffff;
	font-family: "Catamaran";
    font-weight: 400;
}

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px;
  padding: 0;
  border: 0; 
}

.clearfix::before,
.clearfix::after {
	display: table;
	content: " ";
}
.clearfix::after {
	clear: both;
}
